<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Ephemeral Web UI for ffmpeg4discord</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        video {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <video id="myVideo" controls>
                <source src="{{ filename }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <form action="/encode" method="post">
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="setTime('start')">Set Start Time</button>
                    <br />
                    <label for="startTime">Start Time:</label>
                    <input type="range" id="startTime" min="0" value="0" step="1" max="0">
                    <span id="startTimeLabel">0</span>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-primary" onclick="setTime('end')">Set End Time</button>
                    <br />
                    <label for="endTime">End Time:</label>
                    <input type="range" id="endTime" min="0" value="0" step="1" max="0">
                    <span id="endTimeLabel">0</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br />
                    <button type="button" class="btn btn-primary" onclick="selectVideoPart()">Preview Selection</button>
                </div>
            </div>
            <div class="row">
                <h3>Output Parameters</h3>
                <div class="col">
                    <label for="resolution">Resolution</label>
                    <input id="resolution" type="text" placeholder="{{ resolution }}" />
                </div>
                <div class="col">
                    <label for="target_filesize">Target File Size</label>
                    <input id="target_filesize" type="text" placeholder="{{ target_filesize }}" />
                </div>
                <div class="col">
                    <label for="audio_br">Audio Bitrate</label>
                    <input id="audio_br" type="text" placeholder="{{ audio_br/1000 }}" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="crop">Crop</label>
                    <input id="crop" type="text" placeholder="{{ crop }}" />
                </div>
                <div class="col">
                    <label for="output_dir">Output Directory</label>
                    <input id="output_dir" type="text" placeholder="{{ output_dir }}" />
                </div>
            </div>
            <br />
            <button class="submission btn btn-primary" type="submit">Encode</button>
        </form>
    </div>
    <script>
        const video = document.getElementById('myVideo');
        const startTimeInput = document.getElementById('startTime');
        const endTimeInput = document.getElementById('endTime');
        const startTimeLabel = document.getElementById('startTimeLabel');
        const endTimeLabel = document.getElementById('endTimeLabel');

        video.addEventListener('loadedmetadata', () => {
            // Set the maximum value of the input elements to the video duration
            startTimeInput.max = video.duration;
            endTimeInput.max = video.duration;
        });

        startTimeInput.addEventListener('input', updateStartTimeLabel);
        endTimeInput.addEventListener('input', updateEndTimeLabel);

        function updateStartTimeLabel() {
            startTimeLabel.textContent = startTimeInput.value + ' seconds';
        }

        function updateEndTimeLabel() {
            endTimeLabel.textContent = endTimeInput.value + ' seconds';
        }

        function setTime(type) {
            const currentTime = Math.floor(video.currentTime);
            
            if (type === 'start') {
                startTimeInput.value = currentTime;
                startTimeLabel.textContent = currentTime + ' seconds';
            } else if (type === 'end') {
                endTimeInput.value = currentTime;
                endTimeLabel.textContent = currentTime + ' seconds';
            }
        }

        function selectVideoPart() {
            const startTime = parseInt(startTimeInput.value);
            const endTime = parseInt(endTimeInput.value);

            if (!isNaN(startTime) && !isNaN(endTime) && startTime < endTime) {
                video.currentTime = startTime;
                video.play();

                setTimeout(() => {
                    video.pause();
                    video.currentTime = endTime;
                }, (endTime - startTime) * 1000);
            } else {
                alert('Please enter valid start and end times.');
            }
        }
    </script>
</body>
</html>
